###
# Unity folders and files
###
/KulkiJG_unity/[Aa]ssets/AssetStoreTools*
/KulkiJG_unity/[Bb]uild/
/KulkiJG_unity/[Ll]ibrary/
/KulkiJG_unity/[Ll]ocal[Cc]ache/
/KulkiJG_unity/[Oo]bj/
/KulkiJG_unity/[Tt]emp/
/KulkiJG_unity/[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
/KulkiJG_unity/[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.log